    body{
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: linear-gradient(to right, rgb(235, 177, 17), rgb(113, 117, 87));    
}

.box{
    
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background-color: rgba(0, 0, 0, 0.9);
    padding: 20px;
    border-radius: 20px;
    width: 20%;
}

fieldset{
    border: 2px solid rgb(235, 177, 17);
  
}

legend{
    border: 1px solid rgb(235, 177, 17);
    padding: 10px;
    text-align: center;
    background-color: rgb(235, 177, 17);
    border-radius: 8px;
}

.inputBox{
    position: relative;
}

.inputUser{
    background: none;
    border: none;
    border-bottom: 1px solid white;
    outline: none;
    color: white;
    font-size: 15px;
    width: 100%;
    letter-spacing: 2px;
}

.labelInput{
    position: absolute;
    top: 0px;
    left: 0px;
    pointer-events: none;
    transition: .5px;

}

.inputUser:focus ~.labelInput, .inputUser:valid ~ .labelInput {
    top: -20px;
    font-size: 12px;
    color: rgb(175, 164, 59);
}
